# Maxfiy sozlamalar fayli
.env

# Ma'lumotlar bazasi
*.db
*.sqlite3

# Log fayllari
*.log

# Python bytecode va cache
__pycache__/
*.py[cod]
*$py.class
# Telethon sessiyalari
*.session
*.session-journal

# Virtual muhit
.venv/
venv/
ENV/


